:root {
  --wheel-width-height: 300px;
  --number-of-segments: 21;
  --segment-font-size: calc(var(--wheel-width-height)/var(--number-of-segments));
  --segments-border-top: calc(var(--wheel-width-height)/2);
  --segments-text-bottom: calc(var(--segments-border-top) - var(--segment-font-size)*2.5);
  --segments-transform-translatex: -50%;
  --segments-angle: calc(360deg / var(--number-of-segments));
  --segments-border-left-right: calc((var(--wheel-width-height) * 3.3 / var(--number-of-segments))/2);
  --wheel-border-width: calc(var(--wheel-width-height) / 30);
  --wheel-odd-color: rgb(150, 114, 28);
  --wheel-even-color: rgb(40, 75, 116);
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(212, 245, 217);
}

.App {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.controls {
  background-color: chocolate;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.spin-button {
  display: flex;
  align-items: center;
  font-size: 6vh;
  justify-content: center;
  width: 15%;
  height: 15vh;
  border: none;
  border-radius: 99px;
  font-weight: 700;
  background-color: cornsilk;
  overflow: hidden;
  color: darkblue;
  transition: all 500ms ease-out;
  cursor: pointer;
}

.spin-button:hover,
.spin-button.spin-button-active {
  background-color: darkblue;
  color: cornsilk;
}

.spin-button:hover.spin-button-active {
  background-color: rgb(147, 147, 192);
  color: cornsilk;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 35px solid#7AB4E2;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-2px);
  z-index: 1;
}

.wheel {
  display: block;
  width: var(--wheel-width-height);
  height: var(--wheel-width-height);
  top: 0px;
  background-color: skyblue;
  border: var(--wheel-border-width) solid rgb(195, 159, 41);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wheel .segment {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 0;
  height: 0;
  font-size: var(--segment-font-size);
  text-align: center;
  border-top: var(--segments-border-top) solid rgb(255, 255, 255);
  border-left: var(--segments-border-left-right) solid transparent;
  border-right: var(--segments-border-left-right) solid transparent;
  border-bottom: 0;
  transform-origin: bottom;
  color: white;
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*1));
}


.wheel .even {
  border-top: var(--segments-border-top) solid var(--wheel-even-color);
}

.wheel .odd {
  border-top: var(--segments-border-top) solid var(--wheel-odd-color);
}

.wheel .segment::before {
  display: inline;
  position: absolute;
  width: var(--segments-border-left-right);
  height: var(--segments-border-left-right);
  text-align: center;
  bottom: var(--segments-text-bottom);
  left: calc(var(--segments-border-left-right)/(-2));
  transform: rotate(180deg);
}

.wheel .zero {
  transform: translateX(-50%) rotate(calc(var(--segments-angle)*0));
  border-top: var(--segments-border-top) solid rgb(29, 158, 29);
}

.wheel .zero::before {
  content: "0";
}

.wheel .s1 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*1));
}

.wheel .s1::before {
  content: "1";
}

.wheel .s2 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*2));
}

.wheel .s2::before {
  content: "2";
}

.wheel .s3 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*3));
}

.wheel .s3::before {
  content: "3";
}

.wheel .s4 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*4));
}

.wheel .s4::before {
  content: "4";
}

.wheel .s5 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*5));
}

.wheel .s5::before {
  content: "5";
}

.wheel .s6 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*6));
}

.wheel .s6::before {
  content: "6";
}

.wheel .s7 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*7));
}

.wheel .s7::before {
  content: "7";
}

.wheel .s8 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*8));
}

.wheel .s8::before {
  content: "8";
}
.wheel .s9 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*9));
}

.wheel .s9::before {
  content: "9";
}
.wheel .s10 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*10));
}

.wheel .s10::before {
  content: "10";
}
.wheel .s11 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*11));
}

.wheel .s11::before {
  content: "11";
}
.wheel .s12 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*12));
}

.wheel .s12::before {
  content: "12";
}
.wheel .s13 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*13));
}

.wheel .s13::before {
  content: "13";
}
.wheel .s14 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*14));
}

.wheel .s14::before {
  content: "14";
}
.wheel .s15 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*15));
}

.wheel .s15::before {
  content: "15";
}
.wheel .s16 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*16));
}

.wheel .s16::before {
  content: "16";
}
.wheel .s17 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*17));
}

.wheel .s17::before {
  content: "17";
}
.wheel .s18 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*18));
}

.wheel .s18::before {
  content: "18";
}
.wheel .s19 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*19));
}

.wheel .s19::before {
  content: "19";
}
.wheel .s20 {
  transform: translateX(var(--segments-transform-translatex)) rotate(calc(var(--segments-angle)*20));
}

.wheel .s20::before {
  content: "20";
}

.results-frame {
  background-color: cornflowerblue;
  color: cornsilk;
  margin-top: 20px;
  word-wrap: break-word;
  font-size: 8vh;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}